<div class="container">
  <app-header></app-header>
  <div class="main">
    <div class="container-home-academico">
      <div class="menu-home">
        <div class="mat-elevation-z3 card" matRipple routerLink="/clientes">
          <h2 class="titulo-menu">Clientes</h2>
          <img src="assets/user.png" class="icon" />
        </div>
        <div class="mat-elevation-z4 card" matRipple>
          <h2 class="titulo-menu">Películas</h2>
          <img src="assets/movie.png" class="icon" />
        </div>
        <div class="mat-elevation-z4 card" matRipple>
          <h2 class="titulo-menu">Inventario</h2>
          <img src="assets/list.png" class="icon" />
        </div>
        <div class="mat-elevation-z4 card" matRipple>
          <h2 class="titulo-menu">Alquiler</h2>
          <img src="assets/flechas.png" class="icon" />
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
