#contenido-registrar-academico {
  background: transparent;
  padding: 0;
  margin: 0 auto;
  height: auto;
  width: 100%;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  flex-direction: column;
}

.card-header {
  background: #317254;
  color: white;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
}

.mat-card-header-text {
  margin: 0 0 0 0;
}

.div-registrar-estudiante {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  font-weight: normal;
}

.div-titulo-registrar {
  width: 95%;
  height: 40px;
  font-size: 18px;
  font: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  margin: 0 auto;
  margin-top: 20px;
  width: 98%;
  margin-bottom: 20px;
}

.div-form {
  display: flex;
  margin-top: 10px;
  width: 100%;
}

.div-form-izq {
  display: flex;
  justify-content: left;
  padding-right: 5px;
  width: 100%;
}

.div-form-der {
  display: flex;
  justify-content: right;
  padding-left: 5px;
  width: 100%;
}

.form {
  width: 100%;
}

.form2 {
  width: 80%;
}

.example-section {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 100%;
}

.example-margin {
  margin: 0 10px;
}

.mensaje-errror {
  font-size: 12px;
}

.top {
  margin-top: 11px;
}

.card-action {
  margin-top: 40px;
  text-align: center;
}

#boton-guardar,
#boton-cancelar {
  margin-right: 30px;
  background-color: #317254;
  color: white;
  font-size: 16px;
  font-weight: normal;
  width: 170px;
  text-align: center;
  border: none;
}
