.header-dialog {
  height: 50px;
  margin-top: -24px;
  margin-bottom: 20px;
  margin-left: -24px;
  margin-right: -24px;
  background: #7c98b3;
}

.titulo-card {
  padding-top: 10px;
  text-align: center;
  color: white;
  font-weight: 300;
}

.content-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
